 body{
      margin: 0px;
      padding: 0px;
      background-color: black;
    }
    .box{
      width: 240px;
      border: 2px solid gray;
      border-radius: 20px;
      margin-bottom: 10px;
      margin-right: 10px;
      box-shadow: 4px 4px 5px #EEEEEE;
      background-color: #EEEEEE;
    }
    img{
      width: 200px;
      margin: 20px;
      border-radius: 20px;
    }
    .title{
      text-align: left;
      margin-left: 0px;
      padding-left: 10px;
      font-size: 25px;
      background-color: #EEEEEE;
      margin-right: 60px;
      border-bottom-right-radius: 20px;
    }
    .details{
      text-align: left;
      padding: 10px;
    }
    .btn{
      text-align: center;
      margin: auto;
      padding: 5px;
      border-radius: 50px;
      margin-bottom: 10px;
      color: white;
      cursor: pointer;
      background-color: rgb(65, 143, 65);
    } 
    .ab{
      display: flex;
    }
    .continer{
      margin: auto;
      display: flex;
      padding: 30px 0px;
      width: 100%;
      height: 450px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
    }
    .item{
      text-align: center;
      background-color: red;
      height: 70px;
      color: #EEEEEE;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-seri;
    }
